<div class="auth-container authBackground">
    <div class="row auth-main">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="text-center">
            <img src="assets/images/green_energy_sources.jpg" width="250px" height="175px" class="px-2 mx-2" alt="" />
          </div>
          <div class="lock">
            <mat-icon style="font-size: 50px; margin-top: 40px; color: rgb(6, 6, 67)">lock_outline</mat-icon>
          </div>
          <h2 class="welcome-msg">Forgot Password</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Enter your registered email address.
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label for="email">Email</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="authForm.get('email')?.hasError('required') || authForm.get('email')?.touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" [class.auth-spinner]="loading" [disabled]="loading" class="auth-form-btn" [disabled]="!authForm.valid" type="submit">
                Send Temporary Password
              </button>
            </div>
  
            <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 text-center">
                <span>
                  <a routerLink="/authentication/signin">Login?</a>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  