<div class="masterdata-home">
    <div class="masterdata-header">
        <mat-icon>view_list</mat-icon><span>DATA/MASTERDATA MANAGEMENT</span>
    </div>

<div class="grid-list-content">
<mat-grid-list cols="3" rowHeight="2:1" class="custom-grid">
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>account_balance</mat-icon>
        <a [routerLink]="">
        ACCOUNT MANAGEMENT
    </a>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
            <mat-icon>store</mat-icon>
            <a [routerLink]="['/masterdata/warehouses']">
        
        WAREHOUSES
    </a>
    </div>
  </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>directions_car</mat-icon>
        <a [routerLink]="['/masterdata/vehicles']">
        VEHICLES
    </a>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>corporate_fare</mat-icon>
        <a [routerLink]="['/subsidiary/subsidiary']">
        SUBSIDIARIES
    </a>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>engineering</mat-icon>
        <a [routerLink]="['/masterdata/equipment']">
        EQUIPMEMT
    </a>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>shoppping_bag</mat-icon>
        <a [routerLink]="['/inventory/products']">
        PRODUCTS
    </a>
    </div>
</mat-grid-tile>
    <mat-grid-tile>
       <div class="tile-title">
        <mat-icon>group</mat-icon>
       
        <mat-expansion-panel class="mat-elevation-z0">
            
            <mat-expansion-panel-header class="expansion">
                <mat-panel-title>
                COUNTERPARTY MANAGEMENT
            </mat-panel-title>
            </mat-expansion-panel-header>
            <li>
                
                <a [routerLink]="['/inventory/products']"
                   class="expansion-list-item">
                   <mat-icon>handshake</mat-icon>PARTNERS</a>
                </li>

              <li>
                <a [routerLink]="['/inventory/products']"
                class="expansion-list-item">
                <mat-icon>local_shipping</mat-icon>SUPPLIERS</a>
            </li>
            <li>
                <a [routerLink]="['/inventory/products']"
                class="expansion-list-item">
                <mat-icon>business_fare</mat-icon>
                CORPORATES</a>
            </li>

        
        </mat-expansion-panel>
    </div>
    
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="tile-title">
        <mat-icon>account_balance</mat-icon>
        <a [routerLink]="">
        GL CONFIGURATION
    </a>
    </div>
    </mat-grid-tile>
    
  </mat-grid-list>
</div>
</div>
  