.gross-inventory{
    width: 150px;

}
.gross-icon {
    display: flex;
    align-items: center;
    mat-icon{
        color: #26619c;
        margin-right: 5px;

    }
    
}

.our-real-value{
    align-items: center;
    .span {
        font-weight: bold;
    }
}