<!-- single graph -->
<div class="single-graph">
    <!-- graph body -->
    <div class="graph-body">
      <!-- graph title -->
      <div class="graph-title">
        <h6>DEALS DISTRIBUTION</h6>
        <p>Deals Distribution by Settled, Leads and Pending</p>
      </div>
      <!-- graph component -->
      <!-- <div class="details-loading" *ngIf="isLoading">
          <mat-spinner class="loading"></mat-spinner>
        </div> -->
      <!-- <div class="graph">
          <canvas id="risk-rating"></canvas>
        </div> -->
      <div class="details-loading" *ngIf="isLoading">
        <mat-spinner class="loading"></mat-spinner>
      </div>
      <div class="graph">
        <canvas id="counterparty"></canvas>
      </div>
    </div>
  </div>
  