<div class="container">
    <div class="top-product">

        <div class="title">
            <mat-icon>currency_exchange</mat-icon>
            <p>On Demand Products</p>
          </div>

          <div class="on-demand-products">

        <!-- ======================================== -->

            <div class="big-three" *ngFor="let product of topProducts">
       <p> Poduct:</p> {{product.productName}} 
       <p> Total Sales:</p> {{product.soldItems}} Pieces 
       <p> Total Turnover:</p> {{product.totalTurnover | number}} M
    </div> 

    <!-- ======================================== -->

       <!-- <div class="big-three">
        <p> Poduct:</p> {{topProducts.productName}} 
       <p> Total Sales:</p> {{topProducts.soldItems}} Pieces 
       <p> Total Turnover:</p> {{topProducts.totalTurnover}} M
       </div> -->

       <!-- ======================================== -->

       <!-- <div class="big-three">
        <p> Poduct:</p> {{topProducts.productName}} 
       <p> Total Sales:</p> {{topProducts.soldItems}} Pieces 
       <p> Total Turnover:</p> {{topProducts.totalTurnover}} M
       </div> -->

       <!-- ======================================== -->

    </div>
    </div>
</div>
