<div class="container">
    <div class="content-container">

        <div class="title">
            <mat-icon>currency_exchange</mat-icon>
            <p>Top Selling Products</p>
          </div>

          <div class="on-demand-products">

        <!-- ======================================== -->

        <div class="big-three" *ngFor="let product of topProducts">
      <div class="product-wrapper"> 
        <div class="title-description"><span> Poduct:</span></div>
        <div class="title-name"> {{product.productName}} </div>
    </div>
    <div class="product-wrapper">
       <p> Total Sales:</p> {{product.soldItems}} Pieces 
       </div>
       <div class="product-wrapper">
       <p> Turnover:</p> {{product.totalTurnover | number}} M
    </div>
    </div> 

    <!-- ======================================== -->

       <!-- <div class="big-three">
        <p> Poduct:</p> {{topProducts.productName}} 
       <p> Total Sales:</p> {{topProducts.soldItems}} Pieces 
       <p> Total Turnover:</p> {{topProducts.totalTurnover}} M
       </div> -->

       <!-- ======================================== -->

       <!-- <div class="big-three">
        <p> Poduct:</p> {{topProducts.productName}} 
       <p> Total Sales:</p> {{topProducts.soldItems}} Pieces 
       <p> Total Turnover:</p> {{topProducts.totalTurnover}} M
       </div> -->

       <!-- ======================================== -->

    </div>
    </div>
</div>
