.inventory-big-card {
    padding: 5px;
    background-color: rgb(190, 195, 195);
}
.gross-inventory-value {
    display: flex;
    justify-content: space-between;
 }
 .single-card {
     background-color: white;
 }

 .selection-criteria {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}