<div class="login-container authBackground">
    <div class="row login-main">
      <div class="col form-box form-background">
        <div class="form-section">
          <div class="login-wrapper">
            <h2 class="mb-4">Inventory Management System Login</h2>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="col-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <p>Email</p>
                  <input matInput formControlName="email" />
                  <mat-icon matPrefix>account_box</mat-icon>
                  <mat-error *ngIf="authForm.get('email')?.hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <p>Password</p>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                  <mat-icon matPrefix>lock</mat-icon>
                  <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{ hide ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                  <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                    Password is required
                  </mat-error>
                  
                </mat-form-field>
              </div>
              <div *ngIf="error" class="alert alert-danger col-12 mb-2">{{ error }}</div>
              <div class="col-12 mb-2">
                <button class="btn" mat-raised-button [disabled]="loading || !authForm.valid" type="submit">
                  Login
                </button>
              </div>

              <div class="otp-input-container">
                
              </div>
              <div class="row justify-content-center">
                <div class="col-6 text-center">No account yet?<a routerLink="/authentication/signup">Signup here</a></div>
              </div>
              <div class="row justify-content-center">
                <div class="col-6 text-center">Forgot Password?
                  <a routerLink="/authentication/forgot-password">Reset</a>
                </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  