<div class="headers">
    <div class="header-info"><mat-icon>info</mat-icon><span>Admin Dashboard info</span></div>
</div>

<div class="dashboard-layout">
    <div class="top-section">
        <mat-card class="cash-flow-card">
            <mat-card-content>
                <app-cashflow-analyticalgraph></app-cashflow-analyticalgraph>
            </mat-card-content>
        </mat-card>

        <mat-card class="products-card">
            <mat-card-content>
                <app-product-distribution-graph></app-product-distribution-graph>
            </mat-card-content>
        </mat-card>

        <div class="right-alerts-card">
            <mat-card class="notifications-card">
                <mat-card-content>
                    Total sales
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="pie-charts">
        <mat-card class="trade-counterparties">
            <app-counterparty-piechart></app-counterparty-piechart>
        </mat-card>

        <mat-card class="sales-distribution">
            <app-sales-piechart></app-sales-piechart>
        </mat-card>

        <mat-card class="third-pie-chart">
            Another pie cart
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="analytics-card">
            <mat-card-content>
                Articles
            </mat-card-content>
        </mat-card>

        <mat-card class="other-chart1">
            <mat-card-content>
                Other Chart 1
            </mat-card-content>
        </mat-card>

        <mat-card class="other-chart2">
            <mat-card-content>
                Other Chart 2
            </mat-card-content>
        </mat-card>
    </div>
</div>
