<div class="my-cards">
<mat-card class="analytics-card">
    <mat-card-content>
        <app-employees></app-employees>
    </mat-card-content>
</mat-card>

<mat-card class="analytics-card">
    <mat-card-content>
        Total sales
    </mat-card-content>
</mat-card>

<mat-card class="analytics-card">
    <mat-card-content>
        Our products
    </mat-card-content>
</mat-card>

<mat-card class="analytics-card">
    <mat-card-content>
        Articles
    </mat-card-content>
</mat-card>
</div>