<div class="headers">
    <div class="header-info"><mat-icon>info</mat-icon><span>Admin Dashboard info</span></div>
</div>

<div class="dashboard-layout">

    <app-inventory-big-card></app-inventory-big-card>
    <div class="top-section">
        <div class="cash-flow-card">
                <app-cashflow-analyticalgraph></app-cashflow-analyticalgraph>
        </div>

        <div class="products-card">
                <app-deals-chart></app-deals-chart>
        </div>

        <div class="right-alerts-card">
            
                    <app-product-performance-card></app-product-performance-card>
                
        </div>
    </div>

    <div class="pie-charts">

        <div class="counterparties-chart">
        
            <app-counterparties-chart></app-counterparties-chart>
        
        </div>

        <div class="catalogue-chart">
        
            <app-catalogue-chart></app-catalogue-chart> 
        </div>

      <div class="right-alerts-card2">
            <app-replenish-alert-card></app-replenish-alert-card>
      </div>
    </div>

    <div class="card-container">
        <app-subsidiary-performance-table></app-subsidiary-performance-table>
    </div>
</div>
  