.headers {
    background-color: white;
    margin-top: 20px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.header-info {
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.dashboard-layout {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}
.cash-flow-card {
    flex: 2;
    height: 450px;
    margin-right: 10px;
    width: 150px;
    background-color: white;
}
.products-card {
    flex: 1;
    height: 450px;
    margin-right: 10px;
    background-color: white;
}
.right-alerts-card {
    margin-top: 10px;
    flex: 0 0 200px;
    height: 450px;
}
.right-alerts-card2 {
    flex: 0 0 200px;
    height: 300px;
    background-color: white
}
.pie-charts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px; 
}
// .trade-counterparties, .sales-distribution, .third-pie-chart {
//     flex: 1;
//     height: 320px;
//     margin-right: 10px;
// }
.counterparties-chart{
    flex: 1;
    height: 300px;
    margin-right: 10px;
    width: 150px;
    background-color: white
}
.catalogue-chart{
    flex: 2;
    height: 300px;
    margin-right: 10px;
    width: 250px;
    background-color: white
}
.card-container {
    
    margin-top: 10px;
    margin-bottom: 20px;
}
.analytics-card, .other-chart1, .other-chart2 {
    flex: 1;
    height: 320px;
    margin-right: 10px;
}
