<div class="single-graph">
  <div class="graph-body">
    <div class="graph-title">
      <div class="header">
        <div class="info">
      
  <h6>Liquidity Analysis</h6>
  <div>
    <label for="week">Week:</label>
    <select id="week" [(ngModel)]="selectedWeek">
      <option *ngFor="let week of weeks" [value]="week">{{ week }}</option>
    </select>

    <label for="product">Product:</label>
    <select id="product" [(ngModel)]="selectedProduct">
      <option *ngFor="let product of products" [value]="product">{{ product }}</option>
    </select>
  </div>
</div>
</div>
</div>
  <div class="details-loading" *ngIf="isLoading">
    <mat-spinner class="loading"></mat-spinner>
  </div>
  <div class="graph">
    <canvas id="flagged-transac"></canvas>
  </div>
</div>
</div>
